.header-color{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.home-btn:hover{
    color: white
}

.home-btn{
    color: orange;
    font-size: 33px;
    font-family: Creepster;
    margin: Auto;
}

.our-selection-btn:hover{
    color: white
}

.our-selection-btn{
    color: orange;
    font-size: 33px;
    font-family: Creepster;
    margin: Auto;
}

.try-me-btn:hover{
    color: white
}

.try-me-btn{
    color: orange;
    font-size: 33px;
    font-family: Creepster;
    margin: Auto;
}
.mdl-layout-title {
    font-size: 33px;
}